/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.cabecalho {
	padding: 5% 5% 0 30%;
}

.menu {
	display: flex;
	align-items: center;
	padding: 3%;
	gap: 80px;
	
}
body {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;

}

.apresentacao {
	padding: 4% 8%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px
}

.descricao {
	/*text-align: center;*/
	color: black;
	display: flex;
    flex-direction: column;
    align-items: center;
    
	
}

.rodape {
	background-color: #1b357e;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 10px;
}

.grupo_apps {
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: left;
	
}

.redes_sociais {
	color: white;
}

.icone_ford {
	display: flex;
	padding-left: 75%;	
}





ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}